.classroom {
	margin-top: -2.5em;
	position: relative;

	&__body {
		padding-top: 1.5em;
		padding: 1em;

		.classCardRow {
			.classCard {
				margin: 1em;
				padding: 1em;
			}
		}

		.formContainer {
			// background: pink;
			padding: 1em;
		}
	}
}

// ####### classData START
.classData {
	position: relative;
	height: 100%;

	&__id {
		display: flex;
		justify-content: flex-end;
		color: gray;
		font-weight: bold;
	}

	&__dataContainer {
		display: flex;
		margin-top: 0.5em;
		.icon {
			width: 20%;
			height: 45px;
			border-left: 4px solid $blue;
			@include flex-center;
			span {
				background: $blue;
				width: 40px;
				height: 40px;
				color: #fff;
				padding: 1em;
				@include flex-center;
				border-radius: 8px;
			}
		}
		.studentDetails {
			width: 80%;
			h4 {
				margin: 0;
				font-size: 1.3em;
			}
			p {
				@include flex-center;
				justify-content: flex-start;
				svg {
					width: 0.7em;
					height: 0.7em;
				}
			}
		}
	}

	&__calendar {
		flex-direction: column;
		width: 100%;
		margin: 0;
		margin-bottom: 1em;

		h5 {
			margin: 0;
			font-weight: bold;
			margin: 0.5em 0;
			font-size: 1.1em;
		}
		.week {
			@include flex-center;
			justify-content: space-between;

			.day {
				@include flex-center;
				flex-direction: column;

				margin: 0 2px;
				.MuiAvatar-root {
					width: 28px;
					height: 28px;
					font-size: 1em;
				}
				.active {
					color: #fff;
					background: lightseagreen;
				}
			}
		}
	}

	&__btnContainer {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		button {
			background: #fff;
			text-transform: capitalize;
			border: 1px solid rgba(105, 37, 151, 0.516);
		}
	}
}
// ####### classData END

// ####### createClassRommForm START
.createClassRommForm {
	position: relative;
	&__header {
		width: 100%;
		@include flex-center;

		h3 {
			text-align: center;
			font-size: 1.5em;
			padding: 0.5em 0;
			margin-bottom: 0;
		}
	}

	&__body {
		padding: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;

		.form {
			display: flex;
			flex-direction: column;
			align-items: center;
			min-width: 300px;
			max-width: 100%;
			position: relative;

			.input {
				min-width: 300px;
				max-width: 100%;
				height: 40px;
			}
			.feeRow {
				min-width: 300px;
				max-width: 100%;
				display: flex;
				justify-content: space-between;
				#fee {
					width: 140px;
				}
				.periodSelect {
					height: 40px;
					// width: 100px;
				}
			}

			.createClassbtn {
				background: $blue;
				color: #fff;
			}
		}
	}
}
// ####### createClassRommForm START

// ####### AddStudent MODAL
.addStudentModal {
	#customized-dialog-title {
		padding: 2em;
		h2 {
			margin: 0;
			font-weight: normal;
		}
		.heading {
			display: flex;
			justify-content: flex-start;
			margin-top: 1em;

			.icon {
				height: 50px;
				border-left: 6px solid $blue;
				@include flex-center;
				padding: 0 0.6em;
				span {
					background: $blue;
					width: 50px;
					height: 100%;
					color: #fff;
					@include flex-center;
					border-radius: 8px;
				}
			}

			.details {
				h4 {
					font-weight: bold;
					font-size: 1em;
					margin: 0;
					margin-top: -6px;
				}

				p {
					font-size: 0.8em;
				}
			}
		}
	}
	.body {
		width: 100%;
		padding: 0 2em;

		.input {
			width: 100%;
			max-width: 500px;
			margin: 1em 0;
		}

		button {
			background: $blue;
			color: #fff;
			margin: 1em 0;
		}
	}
}
// ####### AddStudent MODAL END

// ####### classroomView Component START
.classroomView {
	position: relative;
	padding: 0;
	// padding-top: 3em;
	height: calc(100vh - 120px);

	&__backBtn {
		background: #fff !important;
		color: rgb(37, 36, 36) !important;
		box-shadow: $shadow;
		cursor: pointer;
		width: 35px !important;
		height: 35px !important;
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		z-index: 10;
		&:active {
			background: rgb(234, 234, 233) !important;
		}
	}

	&__body {
		padding: 0;
		margin: 0;
		position: relative;
		display: flex;
		height: 100%;

		.col {
			height: 100%;
		}

		.contentContainer {
			padding: 1em;
			height: 100%;
			overflow: auto;
			@include purple-scrollbar;
		}

		.classCard {
			margin: 1em 0;
			padding: 3em 1em;
			cursor: pointer;

			&:active {
				background: rgb(240, 238, 238);
			}
		}

		#activeCard {
			border-bottom: 4px solid $blue;
		}

		.rightCard {
			height: 100%;

			.classDetailCard {
				background: yellow;
				height: 100%;

				.top {
					background: powderblue;
					height: 55%;
					.topBtn {
						background: #fff;
						text-transform: capitalize;
					}
					.joinBtn {
						background: $blue;
						color: #eee;
					}

					.classData__calendar,
					.classData__dataContainer {
						width: 100%;
						max-width: 400px;
					}
					h5{
						margin: 0;
						font-size: 1.1em;
						padding-bottom: 8px;
					}
					.description{
						background: #fff;
						padding: 0.5em;
						margin: 0 1em;
						height: 70px;
						overflow: auto;
						@include purple-scrollbar;
						border-radius: 8px;
						border: 1px solid $blue;
						box-shadow: $shadow;
					}
				}

				.bottom{
					height: 45%;
					overflow: auto;
					@include purple-scrollbar;
				}
			}
		}
	}
}

// ####### classroomView Component END
