.whiteboard {
  background: #fff;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;

  .canvas_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
